

.navbar {
  background-color: transparent; /* fully see-through */
  /* transition: background-color 0.3s ease, box-shadow 0.3s ease; */
  transition: padding 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;

  backdrop-filter: blur(10px); /* optional, makes content behind blurred */
  /* padding: 20px 0; */
  padding: 0.5rem 0;
}

.navbar-scrolled {
  background-color: var(--card-bg);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  /* padding: 15px 0; */
  padding: 0.4rem 0;
}
/* Nav links */
.navbar-light .nav-link {
  color: var(--text-primary);
}

.navbar-dark .nav-link {
  color: var(--text-primary);
}

/* Toggle button */
.navbar-light .btn-outline-primary {
  color: var(--text-primary);
  border-color: var(--text-primary);
}

.navbar-light .btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: #fff;
}


.navbar .navbar-brand {
  font-size: 1.25rem; /* instead of fs-3 / 1.75rem */
}
.navbar .nav-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
}



.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  /* background: linear-gradient(135deg, #020d36 0%, #764ba2 100%); */
  background: linear-gradient(135deg, #000000 0%, #053e64  100%);
 
  position: relative;
  overflow: hidden;
}

.hero-section::before {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255,255,255,0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  animation: float 20s linear infinite;
}

@keyframes float {
  0% { transform: translate(0, 0) rotate(0deg); }
  100% { transform: translate(-50px, -50px) rotate(360deg); }
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  color: var(--dark-color);
  font-size: 1.5rem;
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-icon:hover {
  background: var(--primary-color);
  color: white;
  transform: translateY(-3px);
}


.profile-wrapper {
  display: inline-block;
  padding: 6px;
  border-radius: 50%;
  max-width: 300px;
  background: linear-gradient(135deg, #022f73, #000d17, #54b0e1);
  transition: transform 0.3s ease;
}

.profile-wrapper:hover {
  transform: scale(1.03);
}

.profile-img {
  border-radius: 50%;
  background: white;
}




@media (max-width: 768px) {
  .section-padding {
    padding: 60px 0;
  }
  
  .hero-section {
    text-align: center;
  }
  
  .display-1 {
    font-size: 3rem;
  }
}